@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css"); 
/* @import url('https://fastly.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css'); */

:root{
    --bg: #27272b;
    /* --lbg: #444444; */
    --fg: #eeeeee;
    --lfg: #aaaaaa;
    --acc: #5252ee;
    --layers-width: 12rem;
}

*{
    background-color: var(--bg);
    color: var(--fg);
    font-family: "Pretendard"; 
    margin: 0.2rem;
    padding: 0;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1{
    font-size: 2rem;
    opacity: 50%;
}

h3{
    font-size: 1.5rem;
}

canvas{
    width: calc(16 * 4rem);
    height: calc(9 * 4rem);
}

section{
    display: flex;
}

nav{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
nav *{
    display: inline;
}

button:hover, input:hover, textarea:hover{
    background-color: var(--lfg);   
}

button, input, textarea{
    transition-duration: 0.1s;
    border: none;
    padding: 0.5rem;
    background-color: var(--fg);
    color: var(--bg);
    border-radius: 0.3rem;
}

main{ 
    max-width: max-content;
    margin: auto;
}

.checkbox-input{
    accent-color: var(--acc);
}

.color-input{
    padding: 0.1rem;
    width: 3rem;
    height: 3rem;
}

.layers{
    width: var(--layers-width);
    padding-right: 0.5rem;
    height: calc(9 * 4rem);
    text-align: right;
    overflow-y: scroll;
}

.layer-element, .slide-element{ 
    display: inline-block;
    width: auto;
    height: auto;
}

.layer-text{
    margin-right: 1rem;
}

.small-input{
    width: 4rem;
}

.big-input{
    width: 10rem;
}

.slides{
    margin-top: 1rem;
    width: calc((16 * 4rem) + 1rem + var(--layers-width)); 
}
 
.slide-elements{
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap
}
 
.section-label{
    display: inline;
}

.delete{
    transition-duration: 0.1s;
}

.delete:hover{
    background-color: var(--acc);
}

.before-popup{
    transform: translateY(0.6rem);
    opacity: 0;
}

.popup{
    transform: translateY(0rem);
    opacity: 1;
    transition: transform 0.2s cubic-bezier(0.34, 1.56, 0.64, 1), opacity 0.2s;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.saved{
    opacity: 0;
}

.saved-blink{
    animation: blink 1s;
}