@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css"); 
@import url('https://fastly.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');

canvas{
    width: calc(16 * 4em);
    height: calc(9 * 4em);
}

main{
    display: flex;
    gap: 2em
}

.layers{
    width: 10em;
    height: calc(9 * 4em);
    text-align: right;
    overflow-y: scroll;
}

.layer-element{
    margin-bottom: 1em;
}

.layer-text{
    margin-right: 1em;
}

.small-input{
    width: 100px;
}

.slides{
    margin-top: 1em;
    width: calc(calc(16 * 4em) + 12em); 
}

.slide-element{
    margin-right: 1em;
}

.slide-elements{
    overflow-x: auto;
    white-space: nowrap
}

.section-label{
    display: inline;
}

*{
    font-family: "Galmuri11";
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    
    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}